@model JobMVC.VMs.EmployerVMs.VacancyVM
<body class="bg-purple-300">
<div asp-validation-summary="ModelOnly"></div>
<form method="post">
    <div class="content-center bg-purple-300 px-32 py-24">
        <div class="overflow-hidden bg-purple-700 shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
                <h3 class="text-lg font-medium leading-6 text-white">Applicant Information</h3>
                <p class="mt-1 max-w-2xl text-sm text-white">Add the vacancy details below.</p>
            </div>
            <div class="border-t border-gray-200">
                <dl>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Job</dt>
                        <input asp-for="JobTitle" type="text" >
                        <span class="text-red-600" asp-validation-for="JobTitle"></span>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Minimum salary</dt>
                        <input asp-for="MinimumSalary" type="text" >
                        <span class="text-red-600" asp-validation-for="MinimumSalary"></span>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Maximum salary</dt>
                        <input asp-for="MaximumSalary" type="text" >
                        <span class="text-red-600" asp-validation-for="MaximumSalary"></span>
                    </div>
                    <div class="bg-purple-200 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Description</dt>
                        <input asp-for="JobDescription" type="text" >
                        <span class="text-red-600" asp-validation-for="JobDescription"></span>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Requirements</dt>
                        <input asp-for="JobRequirements" type="text" >
                        <span class="text-red-600" asp-validation-for="JobRequirements"></span>
                    </div>
                </dl>
            </div>
        </div>
        <button class="my-4 inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="submit"> Save </button>
    </div>
</form>
</body>
