@model JobMVC.VMs.IdentityVMs.RegisterEmployerVM

<html lang="en" class="h-full bg-white">
<head>
    <title>Register Employee</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/datepicker.min.js"></script>
</head>
<body class="flex">
    <div class="bg-white w-3/5">
        <div class="px-16 pt-8">
            <div>
                <img class="h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Jobbie">
                <h2 class="mt-6 text-3xl font-extrabold text-gray-900">Sign up to your Employer Account</h2>

            </div>
            <div class="mt-6">
                <div asp-validation-summary="ModelOnly"></div>
                <form method="POST" enctype="multipart/form-data">
                    <div class="pb-8">
                        <label class="block mb-2 text-sm font-medium text-gray-700" for="file_input">Company Logo <span class="text-red-500">*</span></label>
                        <input asp-for="ProfileImage" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer dark:text-gray-400 focus:outline-none dark:placeholder-gray-900" id="file_input" type="file">
                        <span asp-validation-for="ProfileImage"></span>
                    </div>
                    <div class="grid grid-cols-6 gap-6">

                        <div class="col-span-6 sm:col-span-3">
                            <label class="block text-sm font-medium text-gray-700">Company Name<span class="text-red-500"> *</span></label>
                            <input asp-for="CompanyName" type="text" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            <span asp-validation-for="CompanyName"></span>
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                            <label class="block text-sm font-medium text-gray-700">Employer Size<span class="text-red-500"> *</span></label>
                            <input asp-for="EmployerSize" type="number" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            <span asp-validation-for="EmployerSize"></span>
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                            <label class="block text-sm font-medium text-gray-700">Establish Date<span class="text-red-500"> *</span></label>
                            <div class="relative max-w-sm">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                                </div>
                                <input asp-for="EstablishDate" datepicker datepicker-autohide type="text" class="mt-1 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5" placeholder="MM/DD/YY">
                            </div>
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                            <label class="block text-sm font-medium text-gray-700">Category<span class="text-red-500"> *</span></label>
                            <select asp-for="Category" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                <option>Technology</option>
                                <option>Health</option>
                                <option>Education</option>
                            </select>
                            <span asp-validation-for="Category"></span>
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                            <label class="block text-sm font-medium text-gray-700">Email address<span class="text-red-500"> *</span></label>
                            <input asp-for="Email" type="text" name="Email" id="Email" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label class="block text-sm font-medium text-gray-700">Password<span class="text-red-500"> *</span></label>
                            <input asp-for="Password" type="password" name="password" id="password" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            <span asp-validation-for="Password"></span>
                        </div>

                        <div class="col-span-6 sm:col-span-2">
                            <label for="phone-number" class="block text-sm font-medium text-gray-700">Phone Number<span class="text-red-500"> *</span></label>
                            <div class="mt-1 relative rounded-md shadow-sm">
                                <div class="absolute inset-y-0 left-0 flex items-center">
                                    <label for="country" class="sr-only">Country<span class="text-red-500"> *</span></label>
                                    <select asp-for="PhoneNumber" id="country" name="country" autocomplete="country" class="focus:ring-indigo-500 focus:border-indigo-500 h-full py-0 pl-3 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md">
                                        <option>US</option>
                                        <option>CA</option>
                                        <option>EU</option>
                                    </select>
                                </div>
                                <input asp-for="PhoneNumber" type="text" name="PhoneNumber" id="PhoneNumber" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-16 sm:text-sm border-gray-300 rounded-md" placeholder="  (555) 987-6543">
                                <span asp-validation-for="PhoneNumber"></span>
                            </div>
                        </div>
                        <div class="col-span-6 sm:col-span-2">
                            <label class="block text-sm font-medium text-gray-700">Country<span class="text-red-500"> *</span></label>
                            <select asp-for="Country" name="country" autocomplete="country-name" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                <option>Azerbaijan</option>
                                <option>Turkey</option>
                                <option>Russia</option>
                            </select>
                            <span asp-validation-for="Country"></span>
                        </div>
                        <div class="col-span-6 sm:col-span-2 lg:col-span-2">
                            <label for="State" class="block text-sm font-medium text-gray-700">State / Province<span class="text-red-500"> *</span></label>
                            <input asp-for="State" type="text" name="State" id="State" autocomplete="address-level1" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            <span asp-validation-for="State"></span>
                        </div>
                        <div class="col-span-6 sm:col-span-2 lg:col-span-2">
                            <label for="city" class="block text-sm font-medium text-gray-700">City<span class="text-red-500"> *</span></label>
                            <input asp-for="City" type="text" name="city" id="city" autocomplete="address-level2" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            <span asp-validation-for="City"></span>
                        </div>
                        <div class="col-span-6 sm:col-span-2">
                            <label for="Address" class="block text-sm font-medium text-gray-700">Street address<span class="text-red-500"> *</span></label>
                            <input asp-for="Address" type="text" name="Address" id="Address" autocomplete="street-address" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            <span asp-validation-for="Address"></span>
                        </div>
                        <div class="col-span-6 sm:col-span-2">
                            <label for="Address" class="block text-sm font-medium text-gray-700">Zip/Postal code<span class="text-red-500"> *</span></label>
                            <input type="text" name="Zip" id="Zip" autocomplete="zip" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            
                        </div>


                    </div>

                    <div class="flex mt-8 pb-0 justify-end">
                        <button type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Cancel</button>
                        <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class=" h-full w-2/5">
        <img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1505904267569-f02eaeb45a4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1908&q=80" alt="">

    </div>
    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
</body>
</html>